:root{
    --font: "Roboto Mono", "Roboto Mono", "Vazirmatn", monospace;
    --bs-dark-primary: rgb(56, 56, 63);
    --font-color: #747474;
    --font-danger: #fd584c;
    --font-danger-extra: #f7958e;
}

*{
    margin: 0;
    padding: 0;
    font-family: var(--font);
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bs-dark-primary);
}

#content{
    width: 90%;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#words-box {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;

    max-height: calc(3 * 40px + 4 * 12px);
    overflow: hidden;
}

.word {
    display: inline-flex;      
    flex: 0 0 auto;     
    font-size: 40px;   

    white-space: nowrap; 
}

letter{
    color: var(--font-color);
}

letter.correct {
    color: #bbbbbb !important;
}

letter.incorrect {
    color: var(--font-danger);
}

.word.incorrect{
    color: var(--font-danger);
    text-decoration: underline;
}

.extra{
    color: var(--font-danger-extra);
}

#refresh-btn {
    background: none;
    border: none;
    color: var(--font-color);
    cursor: pointer;
    font-size: 24px;
    transition: color 0.3s;
}

#refresh-btn:hover {
    color: #fff;
}

