*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

:root{
    --bs-dark-primary: rgb(56, 56, 63);
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bs-dark-primary);
}

#content{
    width: 90%;
}

#words-box {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;

    /* optional: if you’re still limiting to 3 rows */
    max-height: calc(3 * 60px + 6 * 12px);
    overflow: hidden;
}

.word {
    display: inline-flex;      /* 👈 content-based sizing */
    flex: 0 0 auto;     
    font-size: 50px;   

    color: #aaa;

    white-space: nowrap; 
}