*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

:root{
    --bs-dark-primary: rgb(56, 56, 63);
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bs-dark-primary);
}

textarea{
    width: 80%;
    height: 400px;
    background-color: transparent;
    border: none;
    outline: none;

    color: #eee;
    font-size: 50px;
}